.a{
    background-color:#FFAC51;
    width:500px;
    height: 500px;
    position: absolute;
}
.b{
    background-color:#7AFE49;
    width:50%;
    height:50%;
    position: relative;
}
.paragrafo{
    color: #FFFFFF;
    background-color: #C41700;
    font-size: 25px;
    font-family: monospace;
    font-weight:bold;

}
.d{
    width: 50%;
    height: 50%;
    background-color: rgb(0, 204, 255);
    position:absolute;
    margin-top: 40%;
}
.e{
    width: 75%;
    height: 50%;
    background-color: rgb(255, 0, 0);

}
